# terraform.tfvars.example - copy to terraform.tfvars for local
key_name         = new_key  
dynatrace_tenant = "dt0c01..."
dynatrace_token  = "JQCQRMPU..."

# Jenkins: git add .gitignore except; use Jenkins env/secrets for token
